@charset "UTF-8";


body {
	padding: 0;
	margin: 0;
	height: 100%;
}

nav {
	display: inline;
	float: right;
	height: 16px;
	margin-top: 20px;
	margin-right: 40px;
	padding: 15px;
	font-color: blue;
	background-color: #00b3b3;
	box-shadow: 2px 2px 2px 2px #999;
	
}

div#body1 {
	position: relative;
	top: 95px;
	border: 3px solid green;
}

#introduce {
	border: 1px solid green;
	width: 60%;
	text-align: center;
	margin: auto;
}

.introduce2 {
	display: inline;
}

#image {
	margin:auto;
	width: 60%;
	border: 1px solid navy;
	text-align: center;
}


footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 auto; 
  width: 98%;
  padding: 15px 0;
  text-align: center;	
  border: 1px solid blue;		
}